.horahasta.
.horadesde {
   display: inline-block;
}

.columna1 {
 width: 100%;
}

.columna2 {
  width: 100%;
}

.field {
  border-bottom: 20px;
  margin-bottom: 20px;
}

.div {
  margin-bottom: 5px;
}

#text_field {
  width: 100%;
}


